<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <title>MountainView Farm Solutions Irrigration Sensor</title>
        <meta http-equiv="refresh" content="30">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h2> MetaData </h2>
    <table border="1">
        <tr><td>Timestamp</td><td>{{ update_timestamp }}</td></tr>
        <tr><td>Packet</td><td>{{ PACKET }}</td></tr>
        <tr><td>V Battery</td><td>{{ VBATT }}</td> </tr>
    </table>
   
    <h2> Water</h2>
    <table border="1">
        <tr><td>State</td><td>{{ STATE }}</td></tr>    
    </table>

    {% if STATE %}
        <embed height="60" type="audio/mp3" width="144"
               src="{{ alarm_source }}"
               hidden="true"
               volume="60"
               loop="false"
               autostart="true" />
    {% endif %}

    <h2> Temperatures </h2>
    <table border="1">
        <tr>
          <th></th>
          <th>C</th>
          <th>F</th>
        </tr>
        <tr>
            <td>Temp Top</td>
            <td>{{ TEMPTOP }}</td><td>{{ TEMPTOPF }}</td>
        </tr>
        <tr>
            <td>Temp Mid</td>
            <td>{{ TEMPMID }}</td><td>{{ TEMPMIDF }}</td>
        </tr>
        <tr>
            <td>Temp Gnd</td>
            <td width="50">{{ TEMPGND }}</td><td width="50">{{ TEMPGNDF }}</td>
        </tr>
    </table>
</body>
